<div class="demo">
	<div class="row">
		<div class="col-md-4 center">
			<%= image_tag 'NJAD_logo_slogan500.png', alt: 'Not Just a Date logo', class: 'logo' %>
		</div>
		<div class="col-md-8">
			<p><span class="highlight">Give them the date of their dreams.</span><br>Book one of our beautiful date packages today.</p>
			<p>Packages to suit any occasion</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 col-sm-6">
			<div id="pack6" class="feature">
				<span class="highlight">Feature pack 1</span><hr>
				This package includes bla bla etc location category suited to elevator pitch etc bla bla lorem ipsum<hr>
				$394<i class="fa fa-check checkbutton"> book now</i>
			</div>
		</div>
		<div class="col-md-3 col-sm-6">
			<div id="pack2" class="feature">
				<span class="highlight">Feature pack 2</span><hr>
				This package includes bla bla etc location category suited to elevator pitch etc bla bla lorem ipsum<hr>
				$394<i class="fa fa-check checkbutton"> book now</i>
			</div>
		</div>
		<div class="col-md-3 col-sm-6">
			<div id="pack8" class="feature">
				<span class="highlight">Feature pack 3</span><hr>
				This package includes bla bla etc location category suited to elevator pitch etc bla bla lorem ipsum<hr>
				$394<i class="fa fa-check checkbutton"> book now</i>
			</div>
		</div>
		<div class="col-md-3 col-sm-6">
			<div id="pack9" class="feature">
				<span class="highlight">Feature pack 4</span><hr>
				This package includes bla bla etc location category suited to elevator pitch etc bla bla lorem ipsum<hr>
				$394<i class="fa fa-check checkbutton"> book now</i>
			</div>
		</div>
	</div>

	<div class="row">
	<p>Subscribe to get the latest offers and updates
		<%= link_to 'Subscribe', new_subscription_path, class: "button" %>
		</p>
	</div>

	<div id="floatmenu">
			<%= link_to 'Packages', demo_packages_path, class: "menuitem" %>
			<%= link_to 'How it works', demo_how_path, class: "menuitem" %>
			<%= link_to 'Contact us', demo_contact_path, class: "menuitem" %>
			<%= link_to 'Help', demo_help_path, class: "menuitem" %>
	</div>
</div>
