<div class="demo">
<a href="../home/index" id="exitbutton">
	<i class="fa fa-times-circle"></i> exit demo
</a>
	<div class="row">
		<div class="col-md-4 center">
			<%= image_tag 'NJAD_logo_slogan500.png', alt: 'Not Just a Date logo', class: 'logo' %>
		</div>
		<div class="col-md-8">
			<p><span class="highlight">Give them the date of their dreams.</span><br>Short pitch bla bla bla bla etc etc book today yes today.</p>
			<p>A little bit of how it works info - packages to suit any occasion. Optional extras like babysitting and hire car etc.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 col-xs-8">
			<div id="pack4" class="feature">
				<span class="highlight">Eat me drink me</span><hr>
					<ul>
						<li>Guided market tour (for instance fish market)</li>
						<li>Cooking class</li>
						<li>Tea appreciation</li>
						<li>Degustation menu in a restaurant</li>
					</ul>
					<hr>
				$500<%= link_to 'book now', new_subscription_path, class: 'fa fa-check checkbutton' %>
			</div>
		</div>
		<div class="col-md-3 col-xs-8">
			<div id="pack5" class="feature">
				<span class="highlight">Urban explorer</span><hr>
					<ul>
						<li>Zoo</li>
						<li>Cruise</li>
						<li>Night on Cockatoo Island with special welcome hamper</li>
					</ul>
					<hr>
				$160<%= link_to 'book now', new_subscription_path, class: 'fa fa-check checkbutton' %>
			</div>
		</div>
		<div class="col-md-3 col-xs-8">
			<div id="pack6" class="feature">
				<span class="highlight">Effort and comfort</span><hr>
					<ul>
						<li>Tree top safari</li>
						<li>Japanese bath</li>
					</ul>
					<hr>
				$280<%= link_to 'book now', new_subscription_path, class: 'fa fa-check checkbutton' %>
			</div>
		</div>
		<div class="col-md-3 col-xs-8">
			<div id="pack7" class="feature">
				<span class="highlight">Package 6</span><hr>
					<ul>
						<li>Complete hamam experience with soap wash, exfoliation, massage</li>
						<li>Banquet dinner in a Lebanese restaurant with belly dance show</li>
					</ul>
					<hr>
				$394<%= link_to 'book now', new_subscription_path, class: 'fa fa-check checkbutton' %>
			</div>
		</div>
	</div>

	<div class="row">
	<p>Subscribe to get the latest offers and updates
		<%= link_to 'Subscribe', new_subscription_path, class: "button" %>
		</p>
	</div>

	<div id="floatmenu">
			<%= link_to 'Packages', demo_packages_path, class: "menuitem" %>
			<%= link_to 'How it works', demo_how_path, class: "menuitem" %>
			<%= link_to 'Contact us', demo_contact_path, class: "menuitem" %>
			<%= link_to 'Help', demo_help_path, class: "menuitem" %>
	</div>
</div>
