<div class="demo">
	<div class="row">
		<div class="col-md-4 center">
			<%= image_tag 'NJAD_logo_slogan500.png', alt: 'Not Just a Date logo', class: 'logo' %>
		</div>
		<div class="col-md-8">
			<p><span class="highlight">Book your favourite package</span><br>
			Select a package to book a date</p>
			<div class="col-md-6 col-xs-8">
			<div id="pack1" class="feature">
				<span class="highlight">Custom package</span><hr>
				Select your preferred location and interests.<i class="fa fa-check checkbutton"> book now</i>
			</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 col-xs-8">
			<div id="pack2" class="feature">
					<span class="highlight">Package 1</span><hr>
					This package includes bla bla etc location category suited to elevator pitch etc bla bla lorem ipsum<hr>
				$394<i class="fa fa-check checkbutton"> book now</i>
			</div>
		</div>
		<div class="col-md-3 col-xs-8">
			<div id="pack3" class="feature">
				<span class="highlight">Package 2</span><hr>
				This package includes bla bla etc location category suited to elevator pitch etc bla bla lorem ipsum<hr>
				$394<i class="fa fa-check checkbutton"> book now</i>
			</div>
		</div>
		<div class="col-md-3 col-xs-8">
			<div id="pack4" class="feature">
				<span class="highlight">Package 3</span><hr>
				This package includes bla bla etc location category suited to elevator pitch etc bla bla lorem ipsum<hr>
				$394<i class="fa fa-check checkbutton"> book now</i>
			</div>
		</div>
		<div class="col-md-3 col-xs-8">
			<div id="pack5" class="feature">
				<span class="highlight">Package 4</span><hr>
				This package includes bla bla etc location category suited to elevator pitch etc bla bla lorem ipsum<hr>
				$394<i class="fa fa-check checkbutton"> book now</i>
			</div>
		</div>
		<div class="col-md-3 col-xs-8">
			<div id="pack6" class="feature">
				<span class="highlight">Package 5</span><hr>
				This package includes bla bla etc location category suited to elevator pitch etc bla bla lorem ipsum<hr>
				$394<i class="fa fa-check checkbutton"> book now</i>
			</div>
		</div>
		<div class="col-md-3 col-xs-8">
			<div id="pack7" class="feature">
				<span class="highlight">Package 6</span><hr>
				This package includes bla bla etc location category suited to elevator pitch etc bla bla lorem ipsum<hr>
				$394<i class="fa fa-check checkbutton"> book now</i>
			</div>
		</div>
		<div class="col-md-3 col-xs-8">
			<div id="pack8" class="feature">
				<span class="highlight">Package 7</span><hr>
				This package includes bla bla etc location category suited to elevator pitch etc bla bla lorem ipsum<hr>
				$394<i class="fa fa-check checkbutton"> book now</i>
			</div>
		</div>
		<div class="col-md-3 col-xs-8">
			<div id="pack9" class="feature">
				<span class="highlight">Package 8</span><hr>
				This package includes bla bla etc location category suited to elevator pitch etc bla bla lorem ipsum<hr>
				$394<i class="fa fa-check checkbutton"> book now</i>
			</div>
		</div>
	</div>

	<div class="row">
	<p>Subscribe to get the latest offers and updates
		<%= link_to 'Subscribe', new_subscription_path, class: "button" %>
		</p>
	</div>

	<div id="floatmenu">
			<%= link_to 'Packages', demo_packages_path, class: "menuitem" %>
			<%= link_to 'How it works', demo_how_path, class: "menuitem" %>
			<%= link_to 'Contact us', demo_contact_path, class: "menuitem" %>
			<%= link_to 'Help', demo_help_path, class: "menuitem" %>
	</div>
</div>
