<%= simple_form_for(@subscription) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %><br>
    <%= f.input :email %><br>
  </div>
<hr>
  <div class="form-actions button">
    <i class="fa fa-heart"></i>
    <%= f.button 'submit', :submit, style: 'background: none; font-size: 1.5em;' %>
  </div>
<% end %>
